.header-container{
    background-color: #1F2937;
}
.info-container{
    background-color: #FFFFFF;
}
.quote-container{
    background-color: #E5E7EB;
}
.signup-container{
    background-color: #FFFFFF;

}
.footer-container{
    background-color: #1F2937;

}